<p id="notice"><%= notice %></p>

<p>
  <strong>Nomcateg:</strong>
  <%= @categorium.nomcateg %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
