
<!DOCTYPE html>
<html>
<head>
   <!-- <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet"  type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    -->
	 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>:: Te llevamos el almuerzo a tu oficina para tu comodidad:: </title>

        <!-- CSS -->
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">-->
        <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700'> -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">


        <link rel="stylesheet" href="css/nivo-slider.css" media="screen">
         <link rel="stylesheet" href="css/futurico-theme.css" media="screen">
  
         <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="css/style.css" rel="stylesheet"  type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
</head>
<body>
   <div class="content-wrapper">
     <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="page-head-line">MENU</h4>
          </div>
        </div>
        <div class="row">
          <form>
            <div class="col-xs-12 col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Selecciona tu Ciudad" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon12">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="form-group">
                  <select class="form-control" >
                      <option>--Selecciona--</option>
                      <option>Clasificacion</option>
                      <option>Precio</option>
                      <option>Categoria</option>
                  </select>
              </div>
            </div>
          </form>
        </div>
        <br/>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Filtros</h3>
                      </div>
                      <div class="panel-body">
                        Categorias
                        
                         <div class="checkbox">
                            <label>
                              <input type="checkbox"> Criollo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> Marino
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> Chifa
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> Vegetariano
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"> Pastas
                            </label>
                          </div>
                        
                        Precios
                        
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                           Todos
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            S/ 5.00 - 10.00
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                            S/ 10.00 - 15.00
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                            S/ 15.00 - 20.00
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
                            S/ 20.00 a mas
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </span>
                          <input type="text" class="form-control" placeholder="Buscas algun plato?" aria-describedby="basic-addon1">
                        </div>
                        <br>
                         <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </span>
                          <input type="text" class="form-control" placeholder="Buscas algun retaurant?" aria-describedby="basic-addon1">
                        </div>
                        
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                  <!-- Listado de restaurantes -->
                  <table>
                      <tr>
                          <th>Restaurante</th>
                          <th>Direccion</th>
                          <th>Ciudad</th>
                      </tr>
                      
                      <% @restaurantes.each do |restaurant| %>
                       <%if restaurant.ciudad_id==1%>
                          <tr>
                              <td><%= restaurant.nombre %></td>
                              <td><%= restaurant.direcc %></td>
                              <td><%= restaurant.ciudad.nomciudad %></td>
                              <td><li><a href="../pag_hacerpedido/index.html">Hacer pedido</a></li></td>
                          </tr>
                           
                        <% end  %>
                      <% end %>
                  </table>
                  
                </div>
                
            </div>
        </div>
        <br />
            
           
    
    
    <!-- CONTENT-WRAPPER SECTION END-->
   
</body>
</html>
