<p id="notice"><%= notice %></p>

<p>
  <strong>Destipplato:</strong>
  <%= @tipoplato.destipplato %>
</p>

<%= link_to 'Edit', edit_tipoplato_path(@tipoplato) %> |
<%= link_to 'Back', tipoplatos_path %>
