 <!--<footer>-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2015 Restaurant | By : <a href="#" >::Web Desing::</a>
                </div>
                
                 <div class="container">
            <div class="col-md-6">
                    <strong>Siguenos...</strong> &nbsp;&nbsp;
                   
                    <a href="#" target="_blank"> <img src="../assets/images/Facebook-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="../assets/images/Twitter-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="../assets/images/Instagram-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="../assets/images/Google_Plus-32.png"></img> </a>
                    
                </div>
            
        </div>

            </div>
        </div>
    <!--</footer> -->