<!--   <header> -->
    <!-- LOGO HEADER END-->
    <div class="container">
        <div class="row header">
            <section class="menu-section">
                <div class="container">
                    <div class="row">
                        <!-- inicio logo-->    
                        <div class="navbar navbar-inverse set-radius-zero">
                            <div class="container">
                                <!-- <h1 style="color:white">Comensales.com</h1>-->
                                <div class="col-sm-12 logo">
                                    <h1><a href="index.html">Comenzales.com</a> <span>.</span></h1>
                                    <div class="col-md-12">
                                        <div class="navbar-collapse collapse ">
                                            <ul  id="menu-top" class="nav navbar-nav navbar-right">
                                                <div id="user_nav">
                                                    <% if user_signed_in? %>
                                                        Hola: <%= current_user.email %>
                                                        <%= link_to "Salir", destroy_user_session_path, :method => :delete %> -
                                                    <%else%>
                                                        <%= link_to "Registrate", new_user_registration_path %> -
                                                        <%= link_to "Inicia Sesion", new_user_session_path %>
                                                    <%end%>
                                                    <!--<a href="quienesSomos.html">Quienes somos</a>-->
                                                </div>

                                                <li><a href="../menu/index.html">Inicio</a></li>
                                                <li><a href="../quienessomos/index.html">Quienes Somos</a></li>
                                                <li><a href="../pag_locales/index.html">Restaurantes</a></li>
                                                <li><a href="../pag_administ/index.html">Administrador</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin logo-->    
                        <!-- MENU SECTION END-->
                        <!-- HEADER END-->
                    </div>
                </div>
            </section>
        </div>
    </div>
<!--</header> -->