<p id="notice"><%= notice %></p>

<p>
  <strong>Deshora:</strong>
  <%= @horaentrega.deshora %>
</p>

<%= link_to 'Edit', edit_horaentrega_path(@horaentrega) %> |
<%= link_to 'Back', horaentregas_path %>
