<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comenzales.com - Quienes siomos </title>

        <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">-->

        
<!--        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">


        <link rel="stylesheet" href="css/nivo-slider.css" media="screen">
         <link rel="stylesheet" href="css/futurico-theme.css" media="screen">
  
         <link href="css/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="css/style.css" rel="stylesheet"  type="text/css"/>
		<link rel="stylesheet" href="app/assets/stylesheet/bootstrap.css" type="text/css" />-->
</head>
<body>
    <!--<header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Siguenos...</strong> &nbsp;&nbsp;
                   
                    <a href="#" target="_blank"> <img src="img/Facebook-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="img/Twitter-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="img/Instagram-32.png"></img> </a>
                    <a href="#" target="_blank"> <img src="img/Google_Plus-32.png"></img> </a>
                    
                </div>
            </div>
        </div>
    </header>-->
    
    
    <!-- LOGO HEADER END--><!--
	<div class="container">
	 <div class="row header">
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul  id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="hacer_pedido.html">Hacer Pedido</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
	</div>
	</div>-->
    <!-- MENU SECTION END-->
    <!-- HEADER END-->
    
    <!--
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
          <!-- <h1 style="color:white">Comensales.com</h1>--><!--
		  <div class="col-sm-4 logo">
                    <h1><a href="index.html">Comenzales.com</a> <span>.</span></h1>
          </div>
        </div>
    </div>
    -->
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="page-head-line">QUIENES SOMOS </h4>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li>
                            Somos una empresa que brindamos el servicio de menú delivery a tu oficina, casa o donde el cliente lo solicite, nuestro servico se caracteriza por la excelente calidad de nuestros insumos y la presentación en envases A1.
                            Tambien tenemos servicios de catering, buffet y platos a la carta, coffe breaks, platos criollos, comidas internacionales, tortas y bocaditos todo a tu casa u oficina.
                        </li>
                        <li>¿Como funciona?</li>
                        <li>
                            Nosotros enviamos todos los días la lista de menús por correo electrónico y nuestros clientes nos avisan por la misma vía o por teléfono cual es el menú de elección, adicionalmente necesitamos la dirección y hora de entrega.
                        </li>
                    </ul>
                </div>
          
                <div>
                    <p style="text-align:center">
                        <img src="app/assets/images/chef.jpg" alt="..." class="img-rounded" >
                    </p>
                </div>
            </div>
        </div>
        <!--<br /> -->
            

    <!-- CONTENT-WRAPPER SECTION END-->
<!--    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2015 Restaurant | By : <a href="#" >::Web Desing::</a>
                </div>

            </div>
        </div>
    </footer>-->
</body>
</html>
